.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
  background-color: #F9F6FC;
  color: #424242;
  font-family: 'Roboto';
  align-items: center;
  text-align: center;
}
